.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.left {
  float: left;
  margin: 10px;
}

.unclicked {
  color: #3300FF;
}

.header1 {
  margin-top: 20px;
}

.tag {
	display: inline-block;
  border-radius: 4px;
	background-color: #f4511e;
	color: white;
  border: none;
	text-align: center;
	padding: 2px;
	margin: 2px;
	font-style: italic;
	font-size: 12px;
}

#trash {
  margin-left: 20px;
  cursor: pointer;
}

.checked {
	cursor: pointer;
}

.striked {
	text-decoration: line-through;
}

.tab {
  overflow: hidden;
  display: inline-flex;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

button:focus, button:active, i:focus, i:active, a:focus, a:active {
  border: none;
  outline: 0;
}

*:focus {
  outline: 0 !important;
}

input {
  display: block;
}

.select2.select2-container.select2-container--default {
  display: none;
}

.overdue {
  color: red;
}

.today {
  color: orange;
}

.due {
  color: green;
}

.longdue {
  color: darkgreen;
}

.orderTabs .btn.btn-secondary.btn-sm.orderBy.active {
  background-color: coral;
  border: 0;
}

.orderTabs .btn.btn-secondary.btn-sm.orderBy {
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.75px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}

.panel {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.details {
  margin-left: 45px;
}

#Latest {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#DeadlineO {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

footer {
  background-color: lightgrey;
}

#addTask, #backHome {
  text-align: center;
  transition: all 0.5s;
}

#addTask span, #backHome span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#addTask span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#addTask:hover span {
  padding-right: 18px;
}

#addTask:hover span:after, #backHome:hover span:after {
  opacity: 1;
  right: 0;
}

#backHome span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.5s;
}

#backHome:hover span {
  padding-left: 15px;
}

#Importance {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.statement {
  font-weight: 450;
  color: darkblue;
}

#pic {
  text-align: center;
}

img {
  height: 220px;
  width: auto;
}
